@media (max-width: 1700px)
    .top__img
        left: 40%

@media (max-width: 1400px)
    .container 
        background-size: contain
    .top__img   
        left: 37%
    .center 
        padding-left: 110px
        padding-right: 110px
    .top__wrapper
        margin-left: 0

@media (max-width: 1280px)
    .container
        background-image: none
    .header__link
        color: $base-color-text
    .top__img   
        left: 40%
    .top__wrapper   
        width: 50%

@media (max-width: 1179px)
    .catalog 
        gap: 20px
    .catalog__item
        position: relative
        padding: 77px 52px 53px
    .catalog__img
        position: absolute
        width: 200px
        right: 10%
        top: 15%    
    .catalog__text
        width: 57%


@media (max-width: 1024px)
    .center
        padding-left: 60px
        padding-right: 60px

@media (max-width: 900px)
    .header__logo
        width: 174px
    .header__link   
        font-size: 18px   
    .top__img
        width: 709px
        bottom: -65%
        left: 7%
        z-index: -1
    .top__wrapper
        margin-left: 88px
        width: 80%
    .center
        padding-left: 30px
        padding-right: 30px
    .catalog
        padding-top: 342px

@media (max-width: 750px)
    .header__logo
        width: 70px
        &--mobile
            display: block
            width: 140px
    .burger-menu
        display: block
    .header__nav
        display: none
    .header 
        padding-top: 35px
        padding-bottom: 18px
    .top
        background-image: url('../img/top-bg.jpg')
        background-position: center
        background-repeat: no-repeat
        background-size: cover
        &__wrapper
            margin-left: 0
            width: 100%
        &__text 
            color: $lignt-color-text
            font-size: 16px
            line-height: 16px
            text-align: center
        &__btn  
            position: absolute
            bottom: -74%
            width: 90%
        &__img
            width: 550px
            z-index: 1
    .title
        color: $lignt-color-text
        font-size: 45px
        line-height: 45px
        text-align: center
    .catalog
        padding-top: 367px
        &__heading
            font-size: 28px
            line-height: 28px
        &__img  
            width: 150px
            top: 26%

    
@media (max-width: 600px)
    .top__img
        width: 450px
        bottom: -43%
    .top__btn
        bottom: -52%
    .catalog 
        padding-top: 299px
        &__img
            position: static
            width: 50px
        &__inner
            gap: 19px
        &__heading
            font-size: 24px
            line-height: 37px
        &__text
            font-size: 14px
            line-height: 18px
            width: 100%
        &__link 
            font-size: 16px
            line-height: 16px
            &::after
                top: 6px
        &__item
            padding: 22px
    

@media (max-width: 500px)
    .top
        padding-bottom: 167px
        padding-top: 27px
        &__btn
            bottom: -37%
    .top__img
        width: 280px
        bottom: -25%
        left: 19%
    .center
        padding-right: 20px
        padding-left: 20px
    .catalog 
        padding-top: 181px
    

@media (max-width: 375px)
    .top__img
        left: 4%