@media (max-width: 1700px)
    .top__img
        left: 40%

@media (max-width: 1400px)
    .container 
        background-size: contain
    .top__img   
        left: 37%
    .center 
        padding-left: 110px
        padding-right: 110px
    .subtitle::before
        margin-left: -91%
    .top__wrapper
        margin-left: 0
    .example__range-box
        padding-right: 0
    .example__container
        padding-left: 0
    .map__wrapper
        top: 25%
        margin-left: 110px
    .selection__input-box, .selection__radio-box
        width: 100%
    .selection__form
        gap: 72px

@media (max-width: 1280px)
    .container
        background-image: none
    .header__link
        color: $base-color-text
    .top__img   
        left: 40%
    .top__wrapper   
        width: 50%
    .example__box 
        flex-direction: column
        background-color: $lignt-color-text
        height: 100%
        padding-bottom: 0
        padding-top: 0
    .example__container,.example__range
        width: 100%
    .example__img
        position: static
        margin: 0 auto
    .example__container
        background-color: #F2F2F2
        padding-bottom: 40px
    .example__heading
        padding-top: 43px
        padding-bottom: 63px
    .example__range-box
        display: grid
        align-items: center
    .example__text
        grid-column: 1 / 3
    .example__wrap
        grid-column: 1 / 2
        margin-top: 54px
        margin-bottom: 0
    .example__inner-text
        margin-top: 54px
        justify-content: flex-end
    .example__range-box
        padding-right: 110px
    .example__container
        padding-left: 110px
    .other__subtitle
        width: 170px
    
@media (max-width: 1179px)
    .catalog 
        gap: 20px
    .catalog__item
        position: relative
        padding: 77px 52px 53px
    .catalog__img
        position: absolute
        width: 200px
        right: 10%
        top: 15%    
    .catalog__text
        width: 57%
    .map__wrapper
        position: static
        max-width: 100%
        margin-right: 110px
    .other__item
        grid-template-columns: repeat(3, 1fr)
    .other__subtitle
        grid-row-start: 1
        grid-column-start: 1
        grid-row-end: 2
        grid-column-end: 2
    .other__text
        grid-row-start: 1
        grid-column-start: 2
        grid-row-end: 2
        grid-column-end: 3
        &--price
            grid-row-start: 1
            grid-column-start: 3
            grid-row-end: 2
            grid-column-end: 4
    .other__btn
        grid-row-start: 2
        grid-column-start: 1
        grid-row-end: 3
        grid-column-end: 4
        width: 100%
    .other__container
        flex-direction: column
        gap: 69px
    .other__items, .other__banner
        width: 100%
    .other__banner
        background-image: url('../img/gift-bg-tablet.jpeg')
        align-items: center
    .dop
        padding-bottom: 72px
        &__wrapper
            margin-top: 57px
            gap: 54px
        &__box
            grid-template-columns: repeat(2, 1fr)
            gap: 32px
            justify-items: start
        &__wrap
            gap: 61px
        &__btn
            padding: 14px 45px


    
@media (max-width: 1024px)
    .center
        padding-left: 60px
        padding-right: 60px 
    .subtitle::before
        margin-left: -94%
        right: 36px
    .subtitle::after
        left: 36px
    .map__wrapper
        margin-left: 60px
        margin-right: 60px
        padding: 66px 0
        justify-content: space-between
        gap: 10px
    .map__heading
        margin-right: 0
    .products__items 
        gap: 60px

@media (max-width: 900px)
    .header__logo
        width: 174px
    .header__link   
        font-size: 18px   
    .top__img
        width: 709px
        bottom: -65%
        left: 7%
        z-index: -1
    .top__wrapper
        margin-left: 88px
        width: 80%
    .center
        padding-left: 30px
        padding-right: 30px
    .catalog
        padding-top: 342px
    .works
        padding-top: 45px
        gap: 40px
    .example__box
        gap: 70px
    .works__item
        padding: 40px 0
    .selection
        padding-top: 65px  
        padding-bottom: 71px
        &__text
            margin-top: 54px
    .contact
        padding-bottom: 65px
        &__box
            gap: 20px

@media (max-width: 750px)
    .header__logo
        width: 70px
        &--mobile
            display: block
            width: 140px
    .burger-menu
        display: block
    .header__nav
        display: none
    .header 
        padding-top: 35px
        padding-bottom: 18px
    .top
        background-image: url('../img/top-bg.jpg')
        background-position: center
        background-repeat: no-repeat
        background-size: cover
        &__wrapper
            margin-left: 0
            width: 100%
        &__text 
            color: $lignt-color-text
            font-size: 16px
            line-height: 16px
            text-align: center
        &__btn  
            position: absolute
            bottom: -74%
            width: 90%
        &__img
            width: 550px
            z-index: 1
    .title
        color: $lignt-color-text
        font-size: 45px
        line-height: 45px
        text-align: center
    .catalog
        padding-top: 367px
        &__heading
            font-size: 28px
            line-height: 28px
        &__img  
            width: 150px
            top: 26%
    .example__inner-text
        flex-direction: column
        gap: 8px
        align-items: flex-end
    .example__img   
        width: 530px
    .products 
        padding-top: 65px
        &__img--big
            max-width: 168px
    .other 
        padding-top: 80px
        padding-bottom: 76px
        &__container
            padding-top: 26px
    .subtitle    
        font-size: 30px
        line-height: 30px
@media (max-width: 600px)
    .top__img
        width: 450px
        bottom: -43%
    .top__btn
        bottom: -52%
    .catalog 
        padding-top: 299px
        &__img
            position: static
            width: 50px
        &__inner
            gap: 19px
        &__heading
            font-size: 24px
            line-height: 37px
        &__text
            font-size: 14px
            line-height: 18px
            width: 100%
        &__link 
            font-size: 16px
            line-height: 16px
            &::after
                top: 6px
        &__item
            padding: 22px
    .example__img
        width: 450px
    .map__img
        height: 300px
    .footer 
        flex-direction: column
        &__logo
            border-bottom: 1px solid #D9D9D9
            width: 100%
            text-align: center
            padding: 20px 0
        &__nav
            border-bottom: 1px solid #D9D9D9
            width: 100%
            justify-content: center
            padding: 20px 0
    
@media (max-width: 556px)
    .works__item
        display: flex
        gap: 20px
        padding: 0
    .works__img
        width: 60px
    .works__items
        gap: 20px
        grid-template-columns: repeat(auto-fit, minmax(230px, 1fr))

@media (max-width: 500px)
    .top
        padding-bottom: 167px
        padding-top: 27px
        &__btn
            bottom: -37%
    .top__img
        width: 280px
        bottom: -25%
        left: 19%
    .center
        padding-right: 20px
        padding-left: 20px
    .catalog 
        padding-top: 181px
    .works__text
        font-size: 16px
        line-height: 18px
    .heading    
        font-size: 36px
    .example__heading 
        padding-top: 27px
        padding-bottom: 33px
    .example__text
        font-size: 14px
        line-height: 18px
    .example__wrap, .example__inner-text
        margin-top: 25px
        grid-column: 1 / 3
    .example__wrap
        justify-content: space-between
    .example__inner-text
        align-items: center
        flex-direction: row
        gap: 9px
        justify-content: center
    .example__bold-text
        font-size: 24px
        line-height: 24px
    .example__text-small
        font-size: 12px
        line-height: 12px
    .example__expenses
        font-size: 14px
        line-height: 20px   
    .example__img
        width: 350px
    .example, .example__box
        background-color: #F2F2F2
    .works 
        padding-bottom: 40px
    .map__heading
        font-size: 16px
        line-height: 18px
    .map__wrapper
        padding-top: 28px
        padding-bottom: 22px
    .map__text
        font-size: 14px
        line-height: 20px
    .products
        padding-top: 27px
        h2
            padding-bottom: 40px
        &__item
            border: 1px solid rgb(235, 235, 235)
            padding: 20px
            margin-top: 0
            height: 190px
            
        &__item:not(.products__item--add)
            display: grid
            grid-template-columns: 1fr 1fr 1fr
            grid-template-rows: 1fr 1fr 1fr
            gap: 0px 0px
            grid-template-areas: "img title title" "img desc desc" "btn btn btn"
        &__img
            grid-area: img
            max-width: 100px
            padding-bottom: 0
            &--big
                max-width: 120px
        &__title
            grid-area: title
            font-size: 16px
            text-align: left
            padding-bottom: 20px
            &--add  
                margin: 15px 0 0
                padding-bottom: 8px
        &__inner
            grid-area: desc
        &__btn
            grid-area: btn
            margin-top: 10px
            font-size: 16px
            &--white
                margin-top: 0
        &__items
            padding-top: 0
            gap: 0
        &__wrap
            padding-top: 0
            padding-bottom:0
            border: none
        &__text
            font-size: 12px
        &__icon
            width: 30px
            height: 30px
    .other 
        padding-top: 28px
        padding-bottom: 35px
       
        &__container
            padding-top: 34px
            gap: 40px
        &__item
            grid-template-columns: repeat(2, 1fr)
            gap: 15px
        &__subtitle
            grid-row-start: 1
            grid-row-end: 2
            grid-column-start: 1
            grid-column-end: 3
            font-size: 16px
            line-height: 16px
        &__text
            grid-row-start: 2
            grid-row-end: 3
            grid-column-start: 1
            grid-column-end: 2
            font-size: 14px
            line-height: 14px
            &--price
                grid-row-start: 2
                grid-row-end: 3
                grid-column-start: 2
                grid-column-end: 3
        &__btn
            grid-row-start: 3
            grid-row-end: 4
            grid-column-start: 1
            grid-column-end: 3
            font-size: 16px
    .selection 
        padding-top: 18px
        padding-bottom: 48px
        &__text
            margin-top: 37px
            margin-bottom: 39px
            font-size: 14px
            line-height: 18px
        &__form
            gap: 47px
        &__input-box
            gap: 10px
        &__input-label
            font-size: 16px
            line-height: 18px
        &__input
            font-size: 16px
            line-height: 18px
            padding: 14px 15px
            &:placeholder
                font-size: inherit
        &__radio-text
            gap: 15px
            font-size: 16px
            line-height: 18px
        &__radio
            width: 30px
            height: 30px
            padding: 8px
    .subtitle    
        font-size: 24px
        line-height: 24px
    .contact
        padding-bottom: 27px
        &__box
            margin-top: 32px 
            gap: 14px
            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr))
        &__label
            font-size: 16px
            line-height: 18px
            gap: 12px
        &__input
            font-size: 16px
            line-height: 18px
            padding: 14px 15px
    .comment
        padding-bottom: 27px
        &__box
            padding-top: 34px
        &__text
            height: 150px
            font-size: 16px
            line-height: 18px
            padding: 13px 15px
            &:placeholder
                font-size: inherit
    .dop
        padding-bottom: 32px
        &__wrapper
            margin-top: 34px
            gap: 34px
        &__box
            grid-template-columns: repeat(1, 1fr)
            gap: 12px
        &__label
            gap: 15px
            font-size: 16px
            line-height: 18px
        &__checkbox
            width: 30px
            height: 30px
        &__wrap
            gap: 21px
            justify-content: center
        &__btn
            padding: 14px 44px
            font-size: 16px
        &__text
            font-size: 14px


@media (max-width: 400px)
    .subtitle::before, .subtitle::after
        display: none
    .subtitle
        padding-right: 20px
        padding-left: 20px

@media (max-width: 375px)
    .top__img
        left: 4%
    .example__img 
        width: 280px
    .products__img
        max-width: 72px
        &--big
            max-width: 84px