@import 'main.sass'

.container
    background-image: url('../img/top-bg.jpg')
    background-position: right
    background-repeat: no-repeat
    background-size: 50%

.center
    padding-left:  calc(50% - 1220px / 2)
    padding-right: calc(50% - 1220px / 2)

.header
    display: flex
    align-items: center
    justify-content: space-between
    padding-top: 55px
    &__nav
        display: flex
        gap: 34px

    &__nav.open
        display: grid
        position: fixed
        backdrop-filter: blur(10px)
        top: 0
        left: 0
        right: 0
        bottom: 0
        z-index: 10
        align-items: center
        align-content: center
        justify-items: center
        transition: transform .6s 

        &::before
            transform: skew(347deg) translateX(0)

        &>.header__link
            z-index: 13
            font-size: 25px
            padding: 15px 0
            
    &__nav.open>body
        overflow: hidden

    &__link 
        @include font(30px, 400, $lignt-color-text, 20px)
        text-transform: uppercase
        transition: color .2s
        &:hover
            color: rgba(255, 255, 255, 0.418)
        &--active
            border-bottom: 2px solid rgb(255, 255, 255)
    &__logo--mobile
        display: none

.burger-menu
    display: none
    width: 28px
    height: 30px
    cursor: pointer
    position: relative
    span
        position: absolute
        border-radius: 2px
        transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4)
        width: 100%
        height: 3px
        transition-duration: 500ms
        background-color: $base-color-text
        &:nth-child(1)
            top: 0
            left: 0
        &:nth-child(2)
            top: 8px
            left: 0px
            opacity: 1
        &:nth-child(3)
            top: 16px
            left: 0
    &.open span:nth-child(1) 
        transform: rotate(45deg)
        top: 13px
        z-index: 12

    &.open span:nth-child(2) 
        opacity: 0
    &.open span:nth-child(3) 
        transform: rotate(-45deg)
        top: 13px
        z-index: 12


.title
    @include font(60px, 400, $base-color-text, 60px)

.top
    padding-top: 111px
    padding-bottom: 185px
    position: relative
    &__wrapper
        width: 40%
        margin-left: 80px
    &__text
        @include font(20px, 400, $base-color-text, 20px)
        text-transform: uppercase
        margin-top: 40px
        margin-bottom: 52px
    &__btn
        text-transform: uppercase
        padding: 14px 26px
        border: none
        background-color: $accent-color
        transition: backgroundColor .2s
        &:hover 
            background-color: rgb(94, 170, 47)
        &:active>a
            color: rgb(255, 255, 255, 0.3)
        a
            @include font(20px, 400, $lignt-color-text, 20px)
            transition: color .3s
            
    &__img
        position: absolute
        bottom: 2%
        left: 44%

.catalog
    display: flex
    flex-wrap: wrap
    gap: 80px
    justify-content: space-between
    padding-top: 82px
    &__item
        flex: 1 1 440px
        background: rgb(242, 242, 242)
        padding: 47px 52px
    &__inner
        display: flex
        gap: 62px
        align-items: center
    &__heading
        @include font(36px, 400, $base-color-text, 36px)
        text-transform: uppercase
    &__text
        @include font(24px, 400)
        margin-top: 39px
        margin-bottom: 27px
        font-family: $font-text
    &__link
        @include font(30px, 400, $base-color-text, 20px)
        text-transform: uppercase
        position: relative
        transition: color .2s
        &:hover 
            color: rgba(0, 0, 0, 0.548)
        &::after
            content: ''
            background-image: url('../img/arrow.svg')
            background-repeat: no-repeat
            display: block
            width: 25px
            height: 10px
            position: absolute
            top: 10px
            right: -40px

.works
    display: grid
    gap: 72px
    padding-top: 71px
    &__items
        display: grid
        gap: 95px
        grid-template-columns: repeat(auto-fit, minmax( 200px , 1fr ))
    &__item
        display: grid
        gap: 31px
        padding: 57px 0
        &:nth-child(1)
            background-image: url('../img/1.svg')
            background-repeat: no-repeat
            background-position: right
            background-size: contain
        &:nth-child(2)
            background-image: url('../img/2.svg')
            background-repeat: no-repeat
            background-position: right
            background-size: contain
        &:nth-child(3)
            background-image: url('../img/3.svg')
            background-repeat: no-repeat
            background-position: right
            background-size: contain
        &:nth-child(4)
            background-image: url('../img/4.svg')
            background-repeat: no-repeat
            background-position: right
            background-size: contain
    &__text
        @include font(24px, 400, #444444, 16px)
        font-family: $font-text

.heading
    @include font(60px, 400, $base-color-text, 60px)

.example
    &__box
        background-color: #F2F2F2
        display: flex
        gap: 130px
        padding-top: 70px
        padding-bottom: 75px
        height: 462px
    &__text
        @include font( 24px, 400, #444444)
        font-family: $font-text
    &__wrap
        display: flex
        gap: 42px
        margin-top: 69px
        margin-bottom: 55px
    &__heading
        padding-top: 58px
        padding-bottom: 76px
    &__bold-text    
        @include font(37px, 400, $base-color-text, 30px)
    &__text-small
        @include font(14px, 400, #444444, 14px)
    &__inner-text
        display: flex
        gap: 63px
    &__expenses
        @include font(20px, 400, $base-color-text, 20px)
        text-transform: uppercase
    &__container
        position: relative
        padding-left: 0
    &__wrapper
        display: flex
        gap: 24px
        align-items: center
        transition: borderBottom .2s
        span
            @include font(30px, 400, $base-color-text, 20px)
            text-transform: uppercase
            border-bottom: dotted 1px black
        &:hover>span
            border-bottom: solid 1px black
    &__range
        appearance: none
        height: 6px
        border-radius: 6px
        background: rgb(220, 220, 220)
        width: 428px
        &-box
            padding-right: 0
        &::-webkit-slider-thumb
            appearance: none 
            height: 40px
            width: 40px
            background: radial-gradient(circle, rgba(104,183,56,1) 31%, rgba(255,255,255,1) 31%)
            border-radius: 50%
            border: 2px solid rgb(205, 205, 205)
            cursor: pointer
            &:active
                border: 1px solid $accent-color
            
    &__container 
        display: grid
        align-items: end
    &__inner    
            display: grid
            justify-items: center
    &__slider-box
        width: 100%
        position: relative
    &__slider-img
        width: 100%
        height: 536px
        position: absolute
        top: -25rem
        left: 0
        bottom: 0
        right: 0
        &--fat
            clip-path: inset(0 50% 0 0)
        &--thin
            clip-path: inset(0 0 0 50%)
.map  
    position: relative
    &__wrapper
        background-color: $lignt-color-text
        padding: 66px 76px
        display: flex
        max-width: 570px
        position: absolute
        margin-left: calc(50% - 1220px / 2)
        top: 28%
    &__heading
        @include font(21px, 400, $base-color-text, 20px)
        text-transform: uppercase
        margin-right: 87px
    &__text
        @include font(20px, 400, #444444, 16px)
        font-family: $font-text
    &__img
        width: 100%

.footer
    display: flex
    justify-content: space-between
    align-items: center
    padding-top: 63px
    padding-bottom: 63px
    &__nav
        display: flex
        align-items: center
        gap: 28px
    
@import 'catalog.sass'
@import 'program.sass'
@import 'adaptive.sass'
